html{
  padding: 0;
  margin: 0;
}
body{
  padding: 0;
  margin: 0;
}
#sidebar-button{
  display: inline;
  position: fixed;
}
#page-body{
  margin: 0;
  display: grid;
  grid-template-columns: 20vw  80vw;
  background-color: #b2f0ff;

}
a{
  text-decoration: none;
  color: #555555;

}
#navbar{
  display: flex;
  flex-direction: column;
  border-right: solid #868686;
  border-width: .2vw ;
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}
#main-doc{
  padding-left: 5vw;


}
#title{
  padding: 0;
  margin: 20px 10px 10px 10px;
}
.nav-link{
  font-size: 30px;
  vertical-align: middle;

  padding: 10px;
  border-top: solid .1vh #000000;
}
input[type=checkbox] {
  display: none;
}

#slide-sidebar:checked ~#page-body{
  grid-template-columns: 0vw  80vw;
  transition: 0.25s;
}




input:checked ~ label {
  left: 0;
}

label {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 20vw;
  background-color: skyblue;

  -moz-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
@media (max-width: 800px) {
  #page-body{
    grid-template-columns: 10vw  80vw;
  }
  #navbar{
    font-size: 70%;
  }
  .nav-link{
    font-size: 80%;
  }
  #main-doc{
    padding-left: 8vw;
  }
  label{
    left: 0vw;
  }
  input:checked ~ label {
    left: 10vw;
  }

  #slide-sidebar:not(:checked) ~#page-body{
    grid-template-columns: 0vw  80vw;
    transition: 0.25s;
  }
  #slide-sidebar:checked ~#page-body{
    grid-template-columns: 10vw  80vw;
    transition: 0.25s;
  }
}
